.body{
    font-family: 'Sono', sans-serif;

}

.nav-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}
.dropdown-item{
     letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}
.my_footer {
    background-color:aqua;
    height:60px;
}
.my_footer p{
    padding-top:20px;
}
.my_row_class{
    padding-top:15px;
}
.my_row_class .mx_auto{
    color:yellow;
    font-size:20px;

}
.my_image{
    width:100%;
    height:auto;
}
.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_title_padding{
    padding:5px;
}
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h4{

    font-size:18px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_product_row_class{
    padding-top:15px;
    padding-bottom:20px;
}
.my_product_row_class .mx_auto{
    color:black;
    font-size:12px;
    text-decoration:none;

}
.my_product_title{
    font_size:16px;
    text_transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_product_text{
    padding-right:20px;
}
.my_search_text{
    padding-top:20px;
}
.my_custom_table{
    min-width:400px;
    font-size:14px;
}
.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:yellow;
}
.custom_a{
    text-decoration:None;
}
.custom_icon{
    text-decoration:None;
    color:black;

}
.my_custom_button{
    margin-top:5px;
}
.custom_image{
    width:200px;
    height:100px;
}